.d-none {
    display: none !important;
}

body {
    background-color: #fdffe8;
    min-height: 100vh;
}

#control {
    height: 100vh;
}

#control .video {
    height: 90vh;
}

#control .controlBtn {
    height: 10vh;
    text-align: center;
}

#control .controlBtn .btn {
    display: inline-block;
}

#control .right {
    margin-left: 40px;
}

#control .left {
    margin-right: 40px;
}