/* the account delete window */

/* Delete account */
.delete-send {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.delete-send-result {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.delete-confirm-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-confirm-field > div:nth-child(1) {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .delete-confirm-field > div:nth-child(1) {
        flex-wrap: wrap;
        justify-content: center;
    }

    #btn-account-delete-confirm {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.delete-confirm-field > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 0px;
}
