:root, body.light {
    --primary:#006e1c;
    --on-primary:#ffffff;
    --primary-container:#94f990;
    --on-primary-container:#002204;
    --secondary:#52634f;
    --on-secondary:#ffffff;
    --secondary-container:#d5e8cf;
    --on-secondary-container:#111f0f;
    --tertiary:#38656a;
    --on-tertiary:#ffffff;
    --tertiary-container:#bcebf0;
    --on-tertiary-container:#002023;
    --error:#ba1a1a;
    --on-error:#ffffff;
    --error-container:#ffdad6;
    --on-error-container:#410002;
    --background:#fcfdf6;
    --on-background:#1a1c19;
    --surface:#f9faf4;
    --on-surface:#1a1c19;
    --surface-variant:#dee5d8;
    --on-surface-variant:#424940;
    --outline:#72796f;
    --outline-variant:#c2c9bd;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#2f312d;
    --inverse-on-surface:#f0f1eb;
    --inverse-primary:#78dc77;
    --surface-dim:#dadad4;
    --surface-bright:#f9faf4;
    --surface-container-lowest:#ffffff;
    --surface-container-low:#f3f4ee;
    --surface-container:#eeeee8;
    --surface-container-high:#e8e9e2;
    --surface-container-highest:#e2e3dd;
}

body.dark {
    --primary:#78dc77;
    --on-primary:#00390a;
    --primary-container:#005313;
    --on-primary-container:#94f990;
    --secondary:#baccb3;
    --on-secondary:#253423;
    --secondary-container:#3b4b38;
    --on-secondary-container:#d5e8cf;
    --tertiary:#a0cfd4;
    --on-tertiary:#00363b;
    --tertiary-container:#1f4d52;
    --on-tertiary-container:#bcebf0;
    --error:#ffb4ab;
    --on-error:#690005;
    --error-container:#93000a;
    --on-error-container:#ffb4ab;
    --background:#1a1c19;
    --on-background:#e2e3dd;
    --surface:#121411;
    --on-surface:#e2e3dd;
    --surface-variant:#424940;
    --on-surface-variant:#c2c9bd;
    --outline:#8c9388;
    --outline-variant:#424940;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#e2e3dd;
    --inverse-on-surface:#2f312d;
    --inverse-primary:#006e1c;
    --surface-dim:#121411;
    --surface-bright:#383a36;
    --surface-container-lowest:#0c0f0c;
    --surface-container-low:#1a1c19;
    --surface-container:#1e201d;
    --surface-container-high:#282b27;
    --surface-container-highest:#333531;
}

.hide {
    display: none !important;
}

/* video fix */
.video-container {
    position: relative;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Not necessary in Chrome */
    background-color: black;
}

/* Side menu fix */
.nav-side-fix > a {
    justify-content: flex-start;
    width: 100% !important;
    width: -moz-available !important;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available !important;  /* Mozilla-based browsers will ignore this. */
    width: fill-available !important;
}

#dialog-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dialog-menu > div:nth-child(2) > button {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

/* Top search */
.wide-search {
    width: 30vw;
}

#dialog-search {
    overflow: visible;
}

/* Settings dialog */

.multicolumn-dialog {
    max-width: 720px;
    display: flex;
    flex-direction: column;
}

.multicolumn-dialog > div {
    display: flex;
    height: 85%;
    overflow: auto;
}

.multicolumn-dialog > div > div:nth-child(1) {
    overflow: auto;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

.multicolumn-dialog > div > div:nth-child(1) > button {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.multicolumn-dialog > div > div:nth-child(2) {
    overflow: auto;
    flex: 2;
    padding-right: 12px;
    min-height: 300px;
}

@media only screen and (max-width: 720px) {
    .multicolumn-dialog {
        width: 97vw;
        padding: 16px;
    }
}
@media only screen and (min-width: 720px) and (max-width: 993px) {
    .multicolumn-dialog {
        width: 80vw;
    }
}
@media only screen and (min-width: 993px) {
    .multicolumn-dialog {
        width: 70vw;
    }
}


/* Language style */
.select-appearance-lang {
    margin: 0 !important;
}

/* Audio style */
.select-audio-test {
    margin: 0 !important;
    width: -moz-available;
    width: 100%;
    width: -webkit-fill-available;
}

.audio-test {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .audio-test {
        flex-wrap: wrap;
        justify-content: center;
    }
    .audio-test > div:nth-child(2) {
        padding: 10px;
    }
}

.select-audio-input {
    width: -moz-available;
    width: 100%;
    width: -webkit-fill-available;
    margin: 0;
}

.audio-input {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .audio-input {
        flex-wrap: wrap;
    }
    .audio-input > div:nth-child(2) {
        padding: 10px;
    }
    .audio-input > div:nth-child(3) {
        padding: 10px;
    }
}

/* Video style */

.select-camera-input {
    margin: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}

.select-camera-input-box {
    display: flex;
    justify-content: space-between;
}

#video-camera-test-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 280px;
}

.select-display-input {
    margin: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}

.select-display-input-box {
    display: flex;
    justify-content: space-between;
}

#video-display-test-box {
    justify-content: center;
    display: flex;
    padding-top: 20px;
    height: 280px;
}


/* Control style */

.mouse-share {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.shortcut-box {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .shortcut-box {
        flex-wrap: wrap;
    }
}

.shortcut-box-sub {
    display: flex;
}

.shortcut-delay {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .shortcut-delay {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
    }
}

.shortcut-key {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shortcut-delete {
    min-width: fit-content;
    align-self: center;
}


/* Account information */
.information-box {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}

/* Session information */
.session-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 16px;
}

.session-box {
    display: flex;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    padding-left: 16px;
    align-items: center;
}

.session-box > div:nth-child(1) {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}

/* Delete account */
.delete-send {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.delete-send-result {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.delete-confirm-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-confirm-field > div:nth-child(1) {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .delete-confirm-field > div:nth-child(1) {
        flex-wrap: wrap;
        justify-content: center;
    }

    #btn-account-delete-confirm {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.delete-confirm-field > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 0px;
}

/* Room create */
.room-create-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.room-create-fields > div:nth-child(1) {
    margin-bottom: 0px;
}

#btn-room-create-copy {
    flex-shrink: 0;
}

/* Room dialog */
.room-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
}

.room-layout > :nth-child(1) {
    text-align: center;
    flex-grow: 1;
    display: flex;
    min-height: 0;
    min-width: 0;
}

.room-layout > :nth-child(1) > video {
    width: 100%;
    aspect-ratio: 16/9;
}

.room-layout > :nth-child(2) {
    flex-shrink: 0;
}