/* the audio settings */

/* Audio style */
.select-audio-test {
    margin: 0 !important;
    width: -moz-available;
    width: 100%;
    width: -webkit-fill-available;
}

.audio-test {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .audio-test {
        flex-wrap: wrap;
        justify-content: center;
    }
    .audio-test > div:nth-child(2) {
        padding: 10px;
    }
}

.select-audio-input {
    width: -moz-available;
    width: 100%;
    width: -webkit-fill-available;
    margin: 0;
}

.audio-input {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .audio-input {
        flex-wrap: wrap;
    }
    .audio-input > div:nth-child(2) {
        padding: 10px;
    }
    .audio-input > div:nth-child(3) {
        padding: 10px;
    }
}
